@model List<dotnet_web_api_crud.Models.UserModel> 

@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h2>Lista de Usuarios</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo Electrónico</th>
                <th>Número Telefónico</th>
                <th>Lugar de Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.CorreoElectronico</td>
                    <td>@usuario.NumTelefonico</td>
                    <td>@usuario.LugarNacimiento</td>
                </tr>
            }
        </tbody>
    </table>
</div>
