@model List<UserModel>

@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
   <div class="card-header">
     <h2 class="card-title">Usuarios</h2>
   </div>
   <div class="card-body">
       <div class="row d-flex">
            <a class="btn btn-success justify-content-end" asp-action="Usuario" asp-controller="Home" asp-route-idUsuario="0">Nuevo Usuario</a>
       </div>
       <hr />

        <div class="table-responsive">
            <table class="table table-striped text-center">
                <thead class="text-center">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Número Telefónico</th>
                        <th>Lugar de nacimiento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model)
                    {
                        <tr>
                            <td>@usuario.Id</td>
                            <td>@usuario.Nombre</td>
                            <td>@usuario.Apellido</td>
                            <td>@usuario.CorreoElectronico</td>
                            <td>@usuario.NumTelefonico</td>
                            <td>@usuario.LugarNacimiento</td>
                            <td>
                                <a asp-action="Usuario" asp-controller="Home" asp-route-idUsuario="@usuario.Id" class="btn btn-primary btn-sm">Editar</a>
                                <a asp-action="Eliminar" asp-controller="Home" asp-route-id="@usuario.Id" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
   </div>
</div>